includes:
   - phpstan-baseline.neon

parameters:
   level: max
   paths:
      - app
      - tests
   checkExplicitMixed: false
   ignoreErrors:
      - '#^Call to an undefined static method Illuminate\\Database\\Capsule\\Manager::.*\(\)\.$#'
